{{#if @title}} <h2 class="ember-color-palette__title">{{@title}}</h2>{{/if}}
{{#if @description}} <p class="ember-color-palette__description">{{@description}}</p>{{/if}}

{{#if (hasBlock)}}
  {{#each @colors as |color index|}}
    {{yield (hash item=(component this.colorPaletteItemComponent color=color) color=color) index}}
  {{else}}
    {{yield to="inverse"}}
  {{/each}}
{{else}}
  {{#each @colors as |color|}}
    <ColorPaletteItem @color={{color}}/>
  {{/each}}
{{/if}}
